name: Build PainImage Windows Installer

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: windows-latest

    defaults:
      run:
        working-directory: src

    steps:
      - name: Download source code
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ../requirements.txt
          pip install pyinstaller

      - name: Build executable
        run: |
          pyinstaller ^
            --name PainImage ^
            --windowed ^
            --onefile ^
            --icon gui/app.ico ^
            --collect-all PySide6 ^
            --collect-submodules PySide6.QtPlugins ^
            --add-data "editor/ai_features/upscaler/model;editor/ai_features/upscaler/model" ^
            main.py

      - name: Install Inno Setup
        run: |
          choco install innosetup -y

      - name: Create installer
        run: |
          iscc ../installer.iss

      - name: Upload installer
        uses: actions/upload-artifact@v4
        with:
          name: PainImage-Windows-Installer
          path: PainImage-Setup.exe
